

html {
  box-sizing: border-box;
}
#ocean {
  background-image: url(/public/img/ocean.jpeg);
  /* width: 900px;
  height: 700px; */
  width: 1000px; 
  height: 667px; 
  
}

.player {
  background-image: url(/public/img/player.png);
  position: absolute;
  width: 70px;
  height: 75px;
  
}

.enemy {
  background-image: url(/public/img/enemy.png);
  position: absolute;
  width: 70px;
  height: 75px;
  left: 300px;
  top: 200px
}

.missile {
  width: 5px;
  height: 10px;
  position: absolute;
  background-color: yellow;
}

